*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background: linear-gradient(to bottom, #0F2027, #203A43, #2C5364);
    text-align: center;
}

h1{
    font-size: 4rem;
    padding: 25px;
}

.container{
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 8vmin;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.75rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 9vmin;
    background-color: black;
    border: #fff 5px solid;
    box-shadow:  1px 1px 7px 0px #fff;
    
}

#resetBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#newGame{
    padding: 1.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #fff;
        text-shadow:0 0 5px #182e6d, 0 0 10px #072781, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;

    font-size: 3.8rem;
}

.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide{
    display: none;
}

.neonColor-red{
    color: #fff;
    text-shadow: 0 0 5px #3b0101, 0 0 10px #ab0707, 0 0 15px #e70606, 0 0 20px #ff0e25, 0 0 25px #e30142, 0 0 30px #ff0404, 0 0 35px #ff0026;
}

.neonColor-blue{
    color: #fff;
        text-shadow:0 0 5px #182e6d, 0 0 10px #072781, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}